/* You can add global styles to this file, and also import other style files */
@import "css/material/pages/patient-form.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tooltip.tooltip
{
    font-size: 20px;  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("assets/images/patient-form-background.jpg"); background-size: cover;}



